.product-page {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.product-page .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.product-page > * {
  flex: 1;
}

.product-page h2 {
  font-size: 1.5em;
  margin-top: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.product-page img {
  width: 80%;
  margin-top: 3rem;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-page img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-page button {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.product-page button:hover {
  background-color: #0056b3;
}

.price {
  font-weight: bold;
  color: green;
  font-size: 1.5em;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .product-page .left-column {
    margin-right: 0;
  }

  .product-page img {
    width: 100%;
  }
}
