.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
}

.cart-empty {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  padding: 1.5rem;
  color: #333;
}
